[user]
	name = Qiang Bai
	email = chiang.bai@gmail.com
[credential]
	helper = cache --timeout 30000

	# touch ~/.git-credentials
	# e ~/.git-credentials
	# add https://[username]:[passwd]@github.com
	# git config --global credential.helper store
	#helper = store
[alias]
	graph = log --graph --color --pretty=format:"%C(yellow)%H%C(green)%d%C(reset)%n%x20%cd%n%x20%cn%x20(%ce)%n%x20%s%n"
	stat = status -sb
	last = log -1 --stat
	unstage = reset HEAD --
	cached = diff --cached
	d = difftool
[color]
	ui = true
	diff = auto
	pager = true
	editor = emacsclient -t -a=\\\"\\\"
	#editor = emacsclient -t
[diff]
	tool = diff
#	external = emacsclient -t --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
#[difftool "ediff"]
#        cmd = emacs --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[difftool "ediffclient"]
        cmd = emacsclient -t --eval \"(ediff-files \\\"$LOCAL\\\" \\\"$REMOTE\\\")\"
[difftool]
	prompt = false


[merge]
	tool = emerge
[mergetool "ediffclient"]
	cmd = emacsclient -t --eval \"(ediff-merge-files-with-ancestor \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" nil \\\"$MERGED\\\")\"
	#cmd = emacsclient -c -a \"\" --eval \"(my/emerge \\\"$LOCAL\\\" \\\"$REMOTE\\\" \\\"$BASE\\\" \\\"$OUTPUT\\\")\"
	trustExitCode = true
	prompt = false


#core.compression = 0
#http.postbuffer = 524288000

[filter "lfs"]
	process = git-lfs filter-process
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
[http]
	postBuffer = 114288000
	proxy = http://127.0.0.1:8118
	sslVerify = false
[https]
	proxy = https://127.0.0.1:8118
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX

[sendemail]
        smtpencryption = tls
        smtpserver = smtp.gmail.com
        smtpuser = chiang.bai@gmail.com
        smtpserverport = 587

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse

[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
