[Unit]
Description=User resume actions
After=suspend.target

[Service]
Type=oneshot
ExecStart=/home/mav/dotfiles/systemd/resume.sh

[Install]
WantedBy=suspend.target
